body {
    font-family: Georgia;
    text-align: center;
}

div {
    border: 5px solid black;
    margin: 10px;
    width: 325px;
    height: 325px;
    float: left;
    overflow: hidden;
    font-family: cursive;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 20px;
}

div:hover {
    color: white;
    background: black;
}

h5 {
    font-size: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    li {
        display: block;
        padding: 5px;
    }
}

@media screen and (min-width: 801px) {
    li {
        display: inline;
        padding: 10px;
    }
}