@media screen and (max-width: 800px) {
    li {
        display: block;
        padding: 5px;
    }
}

@media screen and (min-width: 801px) {
    li {
        display: inline;
        margin: 30px;
    }
}

body {
    align-self: center;
    margin: auto;
    font-family: Garamond, serif;
}

div.header {
    text-align: center;
    font-family: 'Monoton';
}

a:link{
    color: inherit;
}
footer{
    margin-bottom: 30px;
}
article {
    counter-reset: heading;
    min-width: 610px;
    max-width: 610px;
    margin: auto;
}
article h2::before{
    counter-increment: heading;
    content: '0'counter(heading)': ';
}
#toc h2 {
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 2px;
}
#toc h3 {
    font-weight: normal;
    font-size: inherit;
}

a {
    color: #000000;
    text-decoration: none;
}

footer {
    margin: auto;
    min-width: 610px;
    max-width: 610px;
}

img {
    width: 600px;
}





