body {
    text-align: center;
    font-family: 'Monoton';
}

ul {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

h2 {
    text-align: center;
}

div {
    font-family: 'EB Garamond';
    font-size: 18px;
}

a:hover {
    color: blue;
}

@media screen and (max-width: 800px) {
    li {
        display: block;
        padding: 5px;
    }
}

@media screen and (min-width: 801px) {
    li {
        display: inline;
        margin: 30px;
    }
}

div {
    max-width: 900px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    align-self: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    padding-left: 20pt;
    padding-right: 20pt;
}

p.indented {   
    padding-left: 40pt;   
    padding-right: 40pt; 
}
