body { 
    font-family: Georgia;
    text-align: center;
}

ul {
        list-style-type: none;
    }

a {
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    li {
        display: block;
        padding: 5px;
    }
}

@media screen and (min-width: 801px) {
    li {
        display: inline;
        padding: 10px;
    }
}